@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
     <img class="img-fluid" src="~/css/292186716_546055030582121_5708252484201352392_n (1).jpg" alt="Sample Photo" width="30%"/>
</div>